@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Raleway", sans-serif;
}
.back{
    background-image: url("./assets/15.jpg");
}
h2, button{
    font-family: "Rancho", cursive;
    font-weight: 400;
}